@font-face
{
	font-family: 'quicksand';
	src: url('../font/Quicksand-Regular.otf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'quicksand';

}

.content {

	background-image:url("../img/robot.jpg");
	image-rendering: auto;
	background-size: cover;
	background-attachment:fixed;
	background-repeat:no-repeat;
	
}

section {
	display: inline-block;
	width: 100%;
	height: auto;
}

#section1 {
	background-color: #0A9AAA;
}

#section2
{
	background-color: #00509A;
	padding-top: 0.5em;
	padding-bottom: 3em;
}

#section2 h1
{
	text-align: center;
	font-size: 2.25em;
	color: rgb(174,186,240);
	font-family: 'quicksand';
}

#section2 .text
{
	font-family: 'quicksand';
	overflow: hidden;
	text-align: justify;
	color : rgb(174,186,240);
	font-size: 1.5em;
	text-indent: 2%;
	margin-left: 10%;
	margin-right: 10%;
}

#section3
{
	background-color: #FCF7F8;
}

#sponsors
{
	display: flex;	
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding:1em;
}


#sponsors img
{
	width: 15em;
}


#section5
{
	background-color: #00509A;	
}
#section6 
{
	background-color: #FCF7F8;
}